# Web
DATABASE_URL=
OF_LEDGER_INGEST_SECRET=
DISCORD_GUILD_ID=1117270667520393216
DISCORD_MARKET_CHANNEL_ID=1375274626472738898

# Collector
DISCORD_BOT_TOKEN=
OF_LEDGER_INGEST_URL=https://of-ledger-live-production.up.railway.app
